{% extends 'base.html.twig' %}

{% block title %}Edit Proprio{% endblock %}

{% block body %}
    <h1>Edit Proprio</h1>

    {{ include('proprio/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_proprio_index') }}">back to list</a>

    {{ include('proprio/_delete_form.html.twig') }}
{% endblock %}
