{% extends 'base.html.twig' %}

{% block title %}Edit Chenille{% endblock %}

{% block body %}
    <h1>Edit Chenille</h1>

    {{ include('chenille/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chenille_index') }}">back to list</a>

    {{ include('chenille/_delete_form.html.twig') }}
{% endblock %}
